.App {
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;


    font-size: clamp(calc(0.5vh + 0.5vw),calc(1.5vh + 1.5vw),calc(2vh + 2vw) );

    background-image: url(./images/pexels-rodnae-productions-6529789.jpg);
    background-size: cover;
}

div {
    /* border: 1px solid black; */
}

span {
    border: 1px solid black;
}



/*-------------------Header----------------------*/
.header {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    gap: 3vw;

    height: clamp(5vh, 15vh, 15vh);

    background-image: linear-gradient(90deg,rgba(248, 132, 54, 0.459), rgba(255, 234, 49, 0.486));
}

.meny-link {

    display: flex;
    height: 70%;
    width: clamp(10%, 10vw , 10vw);

    justify-content: center;
    align-items: center;

    background-image: linear-gradient(rgb(248, 132, 54), rgb(255, 234, 49));
}


/*-------------------Header-END---------------------*/



/*---------------------Content--------------------*/
.content-container {
    padding-bottom: 10vh;
    padding-top: 10vh;

}

.content-wrapper {
    display: grid;

    grid-template-rows: repeat(auto-fill, 1fr);
    align-items: center;

    row-gap: 5vh;

    

}

.content-card {
    
    margin-left: 10%;
    margin-right: 10%;

    padding-left: 10%;
    padding-right: 10%;



    border-radius: 10%;

    height: 30vh;

    background-image: linear-gradient(rgb(248, 132, 54), rgb(255, 234, 49));
    opacity: 0.8;

    
}

/*---------------------Content-END-------------------*/




/*-----------------------Footer------------------*/
.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    justify-items: center;
    align-self: flex-end;

    height: clamp(5vh, 15vh, 15vh);

    background-image: linear-gradient(90deg,rgba(248, 132, 54, 0.705), rgba(255, 234, 49, 0.705));
}
/*-----------------------Footer-END-----------------*/