.App {
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;

    height: 100vh;
}

div {
    border: 1px solid black;
}

span {
    border: 1px solid black;
}



/*-------------------Header----------------------*/
/*-------------------Header-END---------------------*/



/*---------------------Content--------------------*/
/*---------------------Content-END-------------------*/




/*-----------------------Footer------------------*/
/*-----------------------Footer-END-----------------*/