.App {
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;

    height: 100vh;
}

div {
    border: 1px solid black;
}

span {
    border: 1px solid black;
}



/*-------------------Header----------------------*/
.header {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    gap: 1vw;
}

.meny-link {

    display: flex;
    height: 70%;
    width: clamp(10%, 10vw , 10vw);

    justify-content: center;
    align-items: center;
}


/*-------------------Header-END---------------------*/



/*---------------------Content--------------------*/
.content-container {
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

.content-wrapper {
    display: grid;

    grid-template-rows: 2fr 3fr 3fr 1fr ;

    height: 100%;
}

.content-card {
    margin: 1%;
    
}

/*---------------------Content-END-------------------*/




/*-----------------------Footer------------------*/
.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    justify-items: center;
}
/*-----------------------Footer-END-----------------*/